<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <arg name="node_start_delay" default="2.0" />  

  <arg name="site_name" default="hughlowe"/>
  <arg name="datum_file" default="$(find thorvald_uv_bringup)/config/site_files/riseholme/rtk/datum.yaml"/>
  <arg name="gps_error_mask_std" default="0.2"/>

  <param name="/use_sim_time" value="true"/>

  <!-- Rosbag args -->
  <arg name="path" default="/mnt/1f44177c-7d31-456d-b806-fd5786027aeb/bagFiles/" />
  <arg name="file_name" default="riseholme_mapping.bag" />


  <!-- Play rosbag - if skipping some start time - play start of bag for tf_static -->
  <node pkg="rosbag" type="play" name="player1" output="screen" args="$(arg path)$(arg file_name)
        --rate=1 --duration=2 --keep-alive --topics /tf_static"/>
  <node pkg="rosbag" type="play" name="player2" output="screen" args="--clock $(arg path)$(arg file_name)
        --rate=2 --start=800 --duration=3600 --topics /odometry/base_raw /tf_static /gps/fix /yaw /twist_mux/cmd_vel /scan /nmea/main_GGA /imu/data" >
  </node>



  <!-- Mapping localisation -->
  <include file="$(find mel_amcl)/launch/mapping_localisation.launch">
    <arg name="datum_file" value="$(arg datum_file)" />
    <arg name="gps_error_mask_std" value="$(arg gps_error_mask_std)" />
  </include>

  <!-- Gmapping -->
  <include file="$(find mel_amcl)/launch/gmapping.launch">
    <arg name="datum_file" value="$(arg datum_file)" />
  </include>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find rasberry_bringup)/resources/row_traversal_action.rviz"/>

  <!-- mapviz -->
  <!-- <include file="$(find mel_amcl)/launch/mapviz.launch">
    <arg name="datum_file" value="$(arg datum_file)" />
  </include> -->

    <!-- scan merger -->
  <!-- <include file="$(find rasberry_bringup)/launch/corner_lasers_merger.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    <arg name="laserscan_topics" value="/scanner_front/scan scanner_back/scan" />
  </include> -->

  
</launch>
